.loginLabel {
  min-width: 105px;
}

.buttonBar {
  margin: 30px 0 0 0;
}

.btn-gnarly {
  background-color: #009940;
  color: white;
}

.btn-gnarly:hover {
  background-color: black;
  color: white;
}

#login-btn {
  z-index: 100;
}
