<section class="chat-widget-view">
	<div class="contentBoxHeader">
		<h3>Chat App</h3>
  	</div>
	<div class="contentBox">
		<div class="content">
			<div *ngIf="!isAuthenticated()">
				<app-login (loginEvent)="login($event)"></app-login>
			</div>
			<div *ngIf="isAuthenticated()">
				<div id="chat-window" tabindex="5000" class="chat-window col-xs-12">
					<div>
						<div class="row" style="margin-bottom: 10px;" *ngFor="let message of messages">
							<div [class]="messageFormat(message.userId)" [innerHTML]="message.messageBody" [title]="message.createdAt | date: 'MM/dd/yyyy HH:mm:ss'" data-toggle="tooltip" style="word-wrap: break-word; white-space: normal;"></div>
						</div>
					</div>
				</div>
				<div class="required-field-block negate-padding">
					<div class="input-group col-xs-12">
						<textarea id="message-field" rows="3" size="30" value="" class="form-control" [(ngModel)]="message" [disabled]="postingMessage" (keypress)="submitOnEnter($event)" maxlength="500"></textarea>
						<span class="input-group-addon"><button id="sendButton" (click)="submitMessageSocket()" [disabled]="postingMessage">Send</button></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
